div.wrapper{
    position: relative;
    margin:30px auto;
    display: inline-block;
    font-size: 24px;

}
div.wrapper:hover span.tooltip{
    display: block;
}
span.tooltip{
    display: none;
    position: absolute;
    top: -30px;
    border: 1px solid black;
    background-color: lightgray;
    font-size: smaller;
    width: 150%;
}